* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
    height: 100vh;
    background: #161a2b;
  }

  a{
    color: white;
  }


  .todo-uncompleted {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background-color: #06459c;
  
    padding: 16px;
    border-radius: 5px;
  }

  .completed {
    text-decoration: line-through red double;
    opacity: 0.6;
  }
  